* {
    font-family: 'Abel', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #f5f6fa;
    margin: 0;
    padding: 20px 40px 0 40px;
    overflow: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.set-flex {
    display: flex;
}
.set-flex.direction-col {
    flex-direction: column;
}
.set-flex.direction-row {
    flex-direction: row;
}

h2 {
    position: sticky;
    background-color: inherit;
    padding: 20px 0 ;
    top: 0;
    z-index: 11;
}
h2,
#comments-section, 
#comment-input {
    max-width: 600px;
    margin: 0 auto;
    gap: 16px;
}

#comments-section > div:last-child {
    margin-bottom: 12px;
}

.comment-item {
    background-color: #FFF;
    padding: 16px;
    border-radius: 5px;
    gap: 12px;
    align-items: flex-start;
    cursor: default;
    position: relative;
}
.comment-item ~ .input-form {
    margin-top:-4px;
}

.reply {
    margin-left: 60px;
    gap: 12px;
    position: relative;
}
.reply:before {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    width: 2px;
    background-color: #d6d8e1;
    bottom: 0;
    border-radius: 2px;
}

.col-rank {
    background-color: #f5f6fd;
    padding: 4px;
    border-radius: 5px;
    gap: 4px;
    align-items: center;
    min-width: 24px;
}
.col-rank .btn {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.col-content {
    gap: 8px;
    flex: 1 0;
}
.col-content div[class*="comment-author"] {
    align-items: center;
    gap: 12px;
}
.comment-author-info {
    flex: 1 0;
    gap: 8px !important;
}
.comment-author-name {
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
.comment-author-name ~ span {
    color: #808080;
}
.comment-author-profile {
    width: 24px;
    height: 24px;
    object-fit: cover;
}


.mention {
    color: #555eb1;
    font-weight: bold;
    display: none;
}
.mention:before {
    content: '@';
}
.reply .mention {
    display: inline;
}

.comment-author a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #545bb3;
    gap: 5px;
    align-items: center;
}
.comment-author a.comment-delete {
    color: #eb646b;
}
.comment-author a img {
    width: 12px;
    height: 12px;
}

.my-comment .comment-author-name:after {
    content: 'You';
    font-size: 12px;
    font-weight: bold;
    background-color: #545bb3;
    color: #FFF;
    padding: 1px 5px;
    border-radius: 5px;
    margin-left: 4px;
}

.my-comment .comment-author a.comment-update,
.my-comment .comment-author a.comment-delete {
    display: flex;
}
.my-comment .comment-author a.comment-reply {
    display: none;
    pointer-events: none;
    user-select: none;
}
.comment-item:not(.my-comment) .comment-author a.comment-update,
.comment-item:not(.my-comment) .comment-author a.comment-delete {
    display: none;
    pointer-events: none;
    user-select: none;
}

#comment-input {
    position: sticky;
    bottom: 0;
    gap: 8px;
    background-color: inherit;
    border-bottom: 16px solid #f5f6fa;
    padding-top: 8px;
}
.input-form {
    border-radius: 5px;
    background-color: #FFF;
    /* box-shadow: 0 0 0 8px #f5f6fa; */
    gap: 8px;
    padding: 16px;
}
.input-form img {
    width: 36px;
    height: 36px;
}
.input-form form {
    flex: 1 0;
    gap: 8px;
    align-items: flex-start;
}
.input-form textarea {
    min-width: calc(100% - 84px);
    height: 70px;
    padding: 6px 8px;
    box-sizing: border-box;
    resize:none;
    border-color: #d2d2d2;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}
.input-form textarea:focus {
    border-color: #545bb3;
}
.input-form button[type="submit"] {
    background-color: #545bb3;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 15px;
    min-width: 76px;
    cursor: pointer;
}
button[disabled] {
    background-color: #ACACAC !important;
    pointer-events: none;
}

/* 
 * loading spinner css
 * 
 */
.spinner {
    min-height: 235px;
    height: calc(100vh - 245px);
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.spinner h3 {
    position: relative;
}
  
.spinner h3:after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: -20px;
    border-radius: 50%;
    border: 4px solid #c5c7ee;
    border-top-color: #555eb1;
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}
  
@-webkit-keyframes spinner {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  
@keyframes spinner {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  
  /* from MDN - https://developer.mozilla.org/ */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px) !important;
    border: 0 !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}